.odd-section {
    .container {
        @include media ('>=768px') {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            min-height: 100vh;
        }
    }
}